<div class="paper">
    <div class="lines">
      <div class="text" contenteditable spellcheck="false">
        Los tréboles de 4 hojas son sumamente raros de encontrar, uno podría vivir toda una vida sin encontrar ninguno. 
Yo me acuerdo, una vez encontré uno, era muy lindo, me encariñé de manera muy rápida, ese trébol tiene nombre y apellido; se llama Angie Gil.
Así es, encontrarte, ha sido de los eventos más impactantes en mi vida. Quien diría que yo allí nervioso presentándome ante ti hace muchos años atrás, estaría en realidad conociendo a mi futura esposa.
Amor de verdad lo digo en toda la extensión de la palabra, que eres lo mejor que me ha pasado sin dudarlo, la mejor amiga, novia y futura esposa. Eres verdaderamente impresionante, y no hay ningún día en el cual no deje de enamorarme de ti. Es un sentimiento que me inunda y que me deja saber que soy la persona mas afortunada del mundo al estar junto a ti y tenerte de compañera en mi vida.
Hoy amor mío un 6 de enero hace 3 años por arte del destino; Todo fue muy incierto en un principio pero poco a poco logramos hacer que una relación de 2 polos opuestos funcionase. Ese día estuve demasiado alegre, no aguantaba la felicidad que la persona de la que llevaba tanto revoloteándome en el corazón era mi pareja oficial. He estado viviendo un sueño de amor perfecto y me gusta. Tenemos nuestras discusiones y situaciones pero eso es lo que mantiene relevante una relación y estoy agradecido de que hayamos pasado por situaciones demasiado debilitantes para una relación y aun así aquí seguimos.
Eres mi primera novia, mi primer amor mi primer todo, me siento tan contento al poder decir esto. Como recuerdo nuestro primer beso por ejemplo, fue tanto que procesar que no ponía en sintonía mis pensamientos y te soy sincero, si en este momento lo hicieras, quedaría exactamente igual porque te amo y me tienes a tus pies totalmente.
Un Año amor un año más, se dice poco pero son 365 días a tu lado en los cuales los he disfrutado.
Amor mío gracias por brindarme este año impresionante, por realizar sueños conmigo, por estar propuesta a hacerlos realidad, por seguir junto a mí, por no rendirte a pesar de la distancia y muchas cosas más, eres la mejor novia del planeta, y no te cambiaria por nada ni nadie en el mundo.
Muchas gracias enserio Te amo demasiado.

    </div>
    </div>
    <div class="holes hole-top"></div>
    <div class="holes hole-middle"></div>
    <div class="holes hole-bottom"></div>
  </div>

<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >