*{
  overflow-x: none;
}
.gal-2{
  overflow-y: none;
}

.general{
  background-color: #e5e5f7;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 13px ), repeating-linear-gradient( #f744a655, #f744bb );
}