<section class="hero">
    <header class="hero-header">
      <h1 class="hero-title">¡Feliz Aniversario mi amor!</h1>
    </header>
    <div class="heart"></div>
    <footer class="hero-footer">
      <a class="button button-primary" href="galeria">Presioname Si quieres ver algo</a>
      <a class="button" href="libro">Presioname Si quieres leer algo</a>
    </footer>
  </section>
  <div class="fondo">
    <article>
      <div class="video-responsive">
        <iframe width="727" height="409" src="https://www.youtube.com/embed/aDMqOn5F-4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!--<iframe src="" frameborder="0" allowfullscreen></iframe>-->
        </div>
    </article>
  </div>